    
*{
  margin: 0;
  padding: 0;
  border:0;
  text-decoration: none;
 }

 Body{
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  height:100vh;
 }


main.principal{
  display:flex;
  flex-direction:row;
  justify-content: space-evenly;
  align-items: center;
  padding: 10px;
}


h4{
  font-size: 30px;
  font-weight: 300;
  padding-top: 60px;
  text-align: center;
}
h1{
  font-size: 40px;
  font-weight: 300;
  color:rgb(72, 255, 0);
  padding-top: 30px;
  text-shadow: 3px 3px 3px rgb(133, 128, 128);
}

section.formulario{
  background: rgb(253, 245, 255);
  border-radius: 10px;
  height:625px;
  border:3px solid rgb(0, 0, 0); 
}

form{
  font-size: 24px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h2{
  font-size: 2rem;
  border-bottom: 2px solid white;
  width:250px;
  box-shadow:2px  rgb(0, 255, 76);
}


#submit{
  height:3rem;
  width:17rem;
  border-radius:5px;
  background: rgb(85, 55, 190);
  font-size:1.5rem;
  color:white;
  display: flex;
  justify-content: center;
}
a{
  color:rgb(0, 0, 0);
  font-size: 20px;

  align-items: center;
  text-align: center;
  
}
a:hover{
  color:rgb(5, 29, 245);
}
input{
  background: rgb(252, 235, 235);
  color:rgb(0, 0, 0);
  font-size: 1.2rem;
  width:17rem;
  height:2rem;
  border-radius: 6px;
  
}
.img{
   position: relative;
   top:50px;
   height:50%;
   width:50%;
   
}

/****/

@media (max-width:424px){
 
 
main.principal{
  flex-direction: column;
}
.imagem-cara{
  top:1150px;
}


section.formulario{
  height:600px;
  width:340px;
  border:2px solid rgb(0, 0, 0);
}
form{
  font-size: 20px;

}
}

/*****/

@media screen and (min-width:425px) and (max-width:600px) {

main.principal{
  flex-direction: column;
}
.imagem-cara{
  height:50%;
  width: 50%;
  top:1050px;
}
h1{
  text-align: center;
}

a{
  padding-top:20px;
}
}
